<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <h1>Bienvendio a la {{title}}  de {{name}} </h1>

  <div class="container">

    <div class="row">
        <input type="text" #resultado value={{getPressOption()}}>
      </div>

    <div class="row">
      <div class="col-1">
        <button (click) = "seven()">7</button>
        <button (click) = "four()">4</button>
        <button (click) = "one()">1</button>
        <button (click) = "point()">.</button>
      </div>
      <div class="col-2">
        <button (click) = "eight()">8</button>
        <button (click) = "five()">5</button>
        <button (click) = "two()">2</button>
        <button (click) = "zero()">0</button>
      </div>
      <div class="col-3">
        <button (click) = "nine()">9</button>
        <button (click) = "six()">6</button>
        <button (click) = "three()">3</button>
        <button (click) = "zeroZero()">00</button>
      </div>
      <div class="col-4">
        <button (click) = "delete()">DEL</button>
        <button (click) = "dividir()">/</button>
        <button (click) = "multiplicar()">X</button>
        <button (click) = "restar()">-</button>
        <button (click) = "sumar()">+</button>
        <button (click) = "equal()">=</button>
      </div>
    </div>
  </div>




