<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <h1>
    Bienvendio a la {{title}}  de {{name}}
  </h1>

  <div class="container">

    <div class="row">
        <input type="text" class="form-control" id="resultado" placeholder="Resultado" >
      </div>

    <div class="row">
      <div class="col-1">
        <input type="button" id = "num" class="btn-success" value="7" onclick="getNum()">
        <input type="button" id = "num" class="btn-success" value="4" onclick="getNum()">
        <input type="button" id = "num" class="btn-success" value="1" onclick="getNum()">
        <input type="button" id = "num" class="btn-success" value="." onclick="getNum('.')">
      </div>
      <div class="col-2">
        <input type="button" class="btn-success" value="8" onclick="num(8)">
        <input type="button" class="btn-success" value="5" onclick="num(5)">
        <input type="button" class="btn-success" value="2" onclick="num(2)">
        <input type="button" class="btn-success" value="0" onclick="num(0)">
      </div>
      <div class="col-3">
        <input type="button" class="btn-success" value="9" onclick="num(9)">
        <input type="button" class="btn-success" value="6" onclick="num(9)">
        <input type="button" class="btn-success" value="3" onclick="num(9)">
        <input type="button" class="btn-success" value="00" onclick="num('00')">
      </div>
      <div class="col-4">
        <input type="button" class="btn-danger" value="DEL" onclick="del()">
        <input type="button" class="btn-danger" value="/" onclick="num('/')">
        <input type="button" class="btn-danger" value="X" onclick="num('*')">
        <input type="button" class="btn-danger" value="-" onclick="num('-')">
        <input type="button" id="suma" class="btn-danger" value="+" onclick="getNum()">
        <input type="button" class="btn-danger" value="=" onclick="igual()">
      </div>
    </div>
  </div>




