<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <h1 style="text-align: center;">
    Bienvendio a la {{title}}  de {{name}}
  </h1>
  <div class="container text-center">
    <div class="row d-flex">
    </div>
    <div class="row">
      <div class="col text-end">
        <input type="text" class="form-control" id="resultado" placeholder="Resultado" >

      </div>
    </div>
    <div class="row">
      <div class="col-3 g-0">
        <input type="button" class="btn btn-success" value="7" onclick="num(7)">
        <input type="button" class="btn btn-success" value="4" onclick="num(4)">
        <input type="button" class="btn btn-success" value="1" onclick="num(1)">
        <input type="button" class="btn btn-success" value="." onclick="num('.')">
      </div>
      <div class="col-3 g-0">
        <input type="button" class="btn btn-success" value="8" onclick="num(8)">
        <input type="button" class="btn btn-success" value="5" onclick="num(5)">
        <input type="button" class="btn btn-success" value="2" onclick="num(2)">
        <input type="button" class="btn btn-success" value="0" onclick="num(0)">
      </div>
      <div class="col-3 g-0">
        <input type="button" class="btn btn-success" value="9" onclick="num(9)">
        <input type="button" class="btn btn-success" value="6" onclick="num(9)">
        <input type="button" class="btn btn-success" value="3" onclick="num(9)">
        <input type="button" class="btn btn-success" value="00" onclick="num('00')">
      </div>
      <div class="col-3 g-0">
        <input type="button" class="btn btn-danger" value="DEL" onclick="del()">
        <input type="button" class="btn btn-danger" value="/" onclick="num('/')">
        <input type="button" class="btn btn-danger" value="X" onclick="num('*')">
        <input type="button" class="btn btn-danger" value="-" onclick="num('-')">
        <input type="button" class="btn btn-danger" value="+" onclick="num('+')">
        <input type="button" class="btn btn-danger" value="=" onclick="igual()">
      </div>
    </div>
  </div>



